
<app-header [movies]="movies"></app-header>
<div class="container">
    <div class="row">

        <div  *ngFor="let movie of movies" class="col-lg-3 col-md-8 col-sm-11 p-2 position-relative">
              <a [routerLink]='["/details",movie.id]'>

                  <div >
                      <img [src]="img+movie.poster_path" class="w-100" alt="">
                      
                  </div>
                  <h4 class="text-center h5">{{movie.title}}</h4>
                  <div class="vote position-absolute end-0 top-0">
                {{movie.vote_average}}
                  </div>

              </a>
        </div>
    </div>
    <nav aria-label="Page navigation example " class="d-flex justify-content-center">
        <ul class="pagination">
        
          <li (click)="displayMovies(1)" class="page-item"><a class="page-link" >1</a></li>
          <li (click)="displayMovies(2)" class="page-item"><a class="page-link" >2</a></li>
          <li (click)="displayMovies(3)" class="page-item"><a class="page-link" >3</a></li>
          <li (click)="displayMovies(4)" class="page-item"><a class="page-link" >4</a></li>
         
        </ul>
      </nav>
</div>
